.recipe_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .recipe {
    max-width: 190px;

    &__img {
      border-radius: 10px;
    }

    &__h2 {
      margin: 0;
      margin-bottom: 5px;
      font-size: 15px;
      font-family: Arial;
      color: gray;
    }

    &__p {
      margin-top: 5px;
      font-size: 15px;
      font-family: Arial;
      color: lightgray;
    }
  }
}
